body {
  margin: 0;
  font-family: 'Pretendard';
  height: '100vh';
}

.slick-slider-container {
  height: 400px; /* Set your desired height */
  overflow: hidden; /* Hide overflow */
}

.slick-slide-image {
  width: 100%;
  height: 100%; /* Ensure the image takes full height */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 8px; /* Rounded corners */
  transition: transform 0.5s ease; /* Smooth transition for scaling */
}

/* Optional: Add some hover effect for the image */
.slick-slide-image:hover {
  transform: scale(1.05); /* Scale up the image slightly on hover */
}

/* Booking.css */
.booking-container {
  position: relative;
  background-image: url('/images/1.jpg'); /* Update with your image path */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Full height */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay with opacity */
  display: flex;
  justify-content: center;
  align-items: center;
}
